* {
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

body {
    background-color: rgb(202, 202, 202);
    padding: 3% 20%;
}
.main-container {
    display: flex;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.384);
}
.article i {
    color: rgb(240, 240, 240);
    background-color: darkcyan;
    border-radius: 100px;
    padding: 8px 9px;
}
.article-container h2 {
    position: relative;
}
.container, .container2, .container3 {
    display: none;
}
.container-show, .container2-show, .container3-show {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.text-article1 {
    display: flex;
}
.bar {
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 20px;
    background-color: darkgrey;
    color: darkgrey;
    overflow: hidden;
    position: relative;
}
.bar span {
    color: darkcyan;
    background-color: darkcyan;
    position: absolute;
    right: 95%;
    width: 100%;
    height: 100%;
    transition: 2s;
}
.fa-chevron-down:hover {
    cursor: pointer;
}
.container:hover .span1 {
    right: 10%;
}
.container:hover .span2 {
    right: 40%;
}
.container:hover .span3 {
    right: 50%;
}
.container:hover .span4 {
    right: 15%;
}
.descr-bar {
    width: 300px;
    margin: auto 5px auto auto;
}
.fa1, .fa2, .fa3 {
    color: black !important;
    background-color: transparent !important;
    transition: 1s;
}
.rotate1, .rotate2, .rotate3 {
    transform: rotate(900deg);
}
.article-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding: 60px 20px 20px 20px;
}
.article {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.aside-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-image: linear-gradient(to bottom, rgb(0, 219, 219), rgb(0, 151, 151), rgb(0, 71, 71));
    box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.466);
    color: rgb(240, 240, 240);
    font-size: 0.9rem;
}
.logo {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: darkcyan;
    justify-content: center;
    align-items: center;
}
.logo-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px 1px black;
}
.logo-img img {
    width: 100%;
    height: 100%;
    transition: 1s;
}
.logo h2 {
    margin: 7px 0px 0px 4px;
}
.logo p {
    margin: 0;
}
.logo-img img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}
.aside-container a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}
.aside-container a:hover {
    text-decoration: underline;
}
.aside-container span:hover {
    cursor: not-allowed;
}
.short-info-block {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 40px 10px;
}
.short-info-block * {
    margin: 4px;
}
.short-info-block p {
    color: rgb(180, 180, 180);
}
.slider-container {
    align-self: center;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    width: 305px;
    transition: 1s;
}
.work {
    display: flex;
    flex-direction: column;
    width: 305px;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
    padding: 0;
}
.work h3 {
    width: 305px;
}
.date {
    margin: 5px 0;
    color: darkcyan;
    font-weight: bold;
}
.work h3 {
    margin: 50px 0 0px 0;
}
.work h4 {
    margin: 0 0 20px 0;
}
.work p {
    font-size: 0.95rem;
}
.fa-angle-double-left, .fa-angle-double-right {
    font-size: 50px !important;
    background-color: transparent !important;
    color: darkcyan !important;
    position: absolute;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 !important;
}
.active {
    opacity: 1;
    text-shadow: 1px 1px 1px black;
}

.fa-angle-double-left:active, .fa-angle-double-right:active {
    opacity: 0.5;
    text-shadow: none;
}
.fa-angle-double-left {
    left: 0;
}
.fa-angle-double-right {
    right: 0;
}
.container2 {
    width: 305px;
    height: 491px;
    align-self: center;
    position: relative;
    overflow: hidden;
}
.article2 {
    position: relative;
}
.showNumbers {
    position: absolute;
    font-size: 20px;
    text-align: center;
    bottom: 0;
    background-color: darkcyan;
    width: 305px;
    color: white;
    font-weight: 900;
    padding: 2px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.train-container, .works-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 0 20px 0;
    width: 80%;
    left: -80%;
    transition: 1s;
}
.train-container {
    align-items: center;
}
.works-container h3 {
    text-align: center;
}
.works-container ul li {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
}
.works-container .fa {
    background: transparent !important;
    color: darkcyan;
}
.train-container a {
    text-decoration: none;
    font-weight: bold;
    color: darkcyan;
    animation: link 1s linear infinite;
}
@keyframes link {
    0% {transform: scale(1)}
    50% {transform: scale(1.2)}
    0% {transform: scale(1)}
}
.works-container a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.train-description, .works-description {
    position: absolute;
    transform: rotate(270deg);
    background-color: darkcyan;
    color: white;
    font-weight: 900;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px black;
}
.train-description:active, .works-description:active {
    box-shadow: none;
}
.train-description {
    padding: 5px 20px 5px 20px;
    right: -54px;
    top: 35px;
}
.works-description {
    padding: 6px 20px 5px 20px;
    right: -58px;
    top: 50px;
}
.open-works-train {
    left: 0;
}
.container3 {
    height: 300px;
}

@media (max-width: 1063px) {
    .article-container h2 {
        font-size: 0.95rem;
    }
}
@media (max-width: 923px) {
    body {
        padding: 3% 10%;
    }
    .aside-container {
        font-size: 0.9rem;
    }
}
@media (max-width: 820px) {
    .text-article1 {
        flex-direction: column;
        }
}
@media (max-width: 710px) {
    body {
        padding: 0% 0%;
    }
    .aside-container {
        font-size: 1rem;
        width: 100%;
        order: -1;
    }
    .main-container {
        flex-direction: column;
    }
    .article-container {
        font-size: 0.8rem;
    }
    .article-container h2 {
        font-size: 0.85rem;
    }
}
@media (max-width: 375px) {
.article-container {
    padding: 60px 5px 20px 5px;
}
}